body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.search-box {
    position: absolute;
    width: 920px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 80px;
    background: #7e6930;
    opacity: 0.815;
}

.search-btn:hover {
    transform: scale(1.18);
}

.search-btn {
    color: #7e6930;
    border:none;
    outline:none;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #212224;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.15s;
}

#search-txt {
    border: none;
    background: none;
    outline: none;
    position: absolute;
    left: 25px;
    top: 22%;
    width: 814px;
    color: #212224;
    font-size: 32px;
}

::placeholder {
    color: #212224;
    opacity: 0.7;
}
::-moz-placeholder {
    color: #212224;
    opacity: 0.7;
}
::-webkit-input-placeholder {
    color: #212224;
    opacity: 0.7;
}


.top-box {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #7e6930;
    opacity: 0.9;
    font-weight: bold;
    font-style: italic;
    font-size: 29pt;
    line-height: 0;
}

#time {
    font-size: 300%;
    position: absolute;
    bottom: 37%;
    left: 50%;
    transform: translate(-50%)
}

#weather {
    line-height: 7;
}


.bottom-box {
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 10px;
    border-radius: 80px;
    background: #7e6930;
    opacity: 0.785;
    transform: translate(-50.2%, -50%);
    width: 685px;
    height: 110px;
}

.shortcut-btn:hover {
    transform: rotateZ(20deg) translate(6%, 3%) scale(1.18);
}

.shortcut-btn {
    color: #7e6930;
    font-size: 40px;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(5%, 5%);
    border-radius: 50%;
    background: #212224;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.15s;
}

#sh-2 {
    left: 125px;
}

#sh-3 {
    left: 240px;
}

#sh-4 {
    left: 355px;
}

#sh-5 {
    left: 470px;
}

#sh-more {
    left: 585px
}

#sh-more:hover {
    transform: rotateZ(90deg) translate(5%, -5%) scale(1.18);
}
